.jumbotron {
    background-image: url(img/masak.jpg);
    background-size: cover;
    height: 300px;
}

.hm {
    background-image: url(img/masak.jpg);
    background-size: cover;
    height: 250px;
}
