.jumbotron {
    background-image: url(img/masak.jpg);
    background-size: cover;
    height: 370px;
}

.hm {
    background-image: url(img/masak.jpg);
    background-size: cover;
    height: 270px;
}
